<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Wesh <%= @user.first_name %> fais comme chez toi !</h1>
    <p>
      t'es inscrit sur https://lyon-event-jah.herokuapp.com/ avec cet email magueule : <%= @user.email %>.
    </p>
    <p>
      Check ton profile la famille et clique sur : <%= @url %>.
    </p>
    <p> Toujours le bienvenu frero https://lyon-event-jah.herokuapp.com/ !
  </body>
</html>