<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Wesh <%= @user.first_name %> et welcome to <%= @event.title %> !</h1>
    <p>
      Au programme pour cet event : <br/>
      <%= @event.description %>
    </p>
    <p>
      Tu veux check ton profil gros? c'est par la ==>  <%= @url %>.
    </p>
    <p> reviens quand tu veux negro sur monsite.fr !
  </body>
</html>